{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h2>Change Password</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.errors }}
{#            {{ form.as_p }}#}
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}