{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="card m-2">
            <div class="card-header">
                <h2 class="card-title"><b>{{ object.title | title }}</b></h2>
            </div>
            <img src="{{ object.image.url }}" class="card-img-top " alt="{{ object.title }} image">
            <div class="card-body">
                <p class="card-text">{{ object.content }}</p>
            </div>
            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.comment }}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-md-12 col-sm-12 rounded">
                <div class="row comments">
                    <div class="comment col-12 rounded">
                        {% for comment in comments %}

                            <p class="pull-right">
                                <a href="{{ edit_url }}"><i class="fas fa-edit"></i></a>
                            </p>
                            <h4><a href="#"><b>{{ comment.added_by.username }}</b>
                                <small>{{ comment.added_on |timesince }}</small></a></h4>
                            <p class=" text-dark">{{ comment.comment }}</p>


                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}