{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="btn-group p-1">
            <button type="button" class="btn btn-primary">
                Total Blog <span class="badge badge-light">{{ object_list | length }}</span>
            </button>
            <a href="{% url 'blogapp:article-create' %}">
                <button type="button" class="btn btn-success">
                    Create an Article
                </button>
            </a>
        </div>
        {% for instance in object_list %}
            <div class="card m-2">
                <img style="height: 250px; width: 100%; object-fit: cover;"
                     src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }} image">

                <div class="card-body">
                    <h5 class="card-title"><b>{{ instance.title | title }}</b></h5>

                    <p class="card-text">{{ instance.content | capfirst | truncatechars:128 }}...
                        <a href="{{ instance.get_absolute_url }}">
                            <b>Read More...</b>
                        </a></p>
                    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

